.lists h3{
    font-size: 1.5em; 
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 20px;
    cursor: pointer;
}

.lists-info{
    display: grid;
    place-items: center;
    margin: 20px;
}