.side-panel {
    grid-area: sidebar;
    width: 100%;
    width: 306px;
    height: 727px;
    background: #fff;
    box-shadow: 0px 20px 45px -18px rgba(57, 97, 221, 0.3);
    border-radius: 15px;
    position: relative;
}

.side-panel .item-container {
    height: auto;
    width: 100%;
    max-width: 266px;
    position: absolute;
    top: 157px;
    left: 20px;
    right: 20px;
}

.side-panel .profile {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 100%;
    padding: 20px 0 10px 0;
    top: 30px;
    cursor: pointer;
}

.side-panel .profile img {
    border-radius: 50%;
    margin-bottom: 10px;
}

.side-panel .profile span {
    font-size: 16px;
}

@media only screen and (max-width: 600px) {
    .side-panel {
        max-width: 170px
    }

    .side-panel .item-container {
        max-width: 100%;
    }

    .side-panel .profile {
        padding: 10px 0 5px 0;
    }
}
